.section {
  width: 363.838px;
  height: 340.145px;
  background: url("./top-view-bell-pepper-pepper-sliced-black-bowl-white-horizontal 2.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  translate: 50%;
}
